body{
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    background-color: #f5f5f5;
    
}
.logo{
    width: 64px;
    height: 64px;
    border-radius: 80%;
    float: inline-start;
    display:inline;
}
.Logo a{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: rgb(0, 0, 0);
    float: left;
    padding: 16px;
    border: none;
    outline: none;
}
.Logo{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 4%, rgba(255,255,255,1) 100%);
}

.seccion{
    float: left;
    translate: 0px -70px;
    
}
.seccion a{
    display:flex;
    float: inline-end;
    font-family: "Jacquard 24", system-ui;
    font-size: 36px;
    color: black;
    padding: 16px 10px;
    
    margin-right: 15px;  
    border-radius: 30% 30% 30% 30%; 
}
.vivo{
    float: left;
    translate: 270px -10px;
    background-color: rgba(0, 0, 255, 0);/*color para saber posicion*/
    margin: auto;
}
.cabeza header{
   
    font-family: "Jacquard 24", system-ui;
    font-size: 35px;
    color: rgb(255, 0, 0);
    translate: 50px 30px;
    background-color: rgba(137, 43, 226, 0);/*color para saber posicion*/
    margin: auto;
    text-decoration: underline;
}
.Logo a:hover{
    transform:scale(1.2);
    transition: 1s;
    color: rgb(35, 28, 126);
}
.seccion a:hover{
    transform: scale(1.1);
    transition: 1s;
    text-decoration: none;
    font-weight: bold;
}
.carta-noticias{
    display: flex;
    flex-direction: row;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0);   
}
.carta {
    
    width: 550px;
    height: auto;
    margin: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 5% 5% 5% 5%;
    animation-name: CARTA_ANIM;
    animation-duration: 1S;
    
}
/* estilo titulo*/
.carta-noticias .carta .titulo h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    color: white;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(116,44,54,1) 35%, rgba(175,207,255,1) 75%, rgba(255,255,255,1) 100%);
    
}
/* estilo categoria*/
.carta-noticias .carta .titulo h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: left;
    margin: 15px;
    color: rgb(114, 110, 104);
}
/*estilo parrafo */
.carta-noticias .carta .cuerpo p{
    height: 320px;
    width: auto;
    font-family: "Josefin Sans", sans-serif;
    font-size: 19px;
    text-align: justify;
    color:rgb(0, 0, 0);
    padding: 15px;
    background: linear-gradient(180deg, rgba(209,59,80,1) 8%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
    border-radius: 0% 0% 15px 15px;
    line-height: 19px;
    animation-name: OP_Texto;
    animation-duration: 1s;
}
.carta-noticias .carta .visual{
    padding: 10px;
    width: auto;
    height: 300px;
}
.carta-noticias .carta .visual img {
    width: 100%;
    height: 100%;
}
.categoria-noticia{
    float: right;
    background-color: rgba(136, 28, 28, 0);/*color para saber posicion*/
    font-family:"Jacquard 24", system-ui;
    font-size: 35px;
    margin-left: 50px;
    text-decoration: underline;
}
footer div {
    padding-top: 60px;
    padding-bottom: 20px;
   
}
.carta:hover{
    transform:scale(1.1);
    transition: 0.5s;
    box-shadow: 5px 20px 10px 0px rgb(252, 152, 152);
    background-color: rgb(0, 0, 0);
}
.carta:hover .cuerpo p{
    color: white;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(121,9,33,1) 35%, rgba(255,0,24,1) 100%);
}
.carta:hover .titulo h3{
    color: azure;
}
table, th, td {
    font-family: "Jacquard 24", system-ui;
    font-size: 30px;    
    border: 5px double;
    border-color: rgb(0, 0, 0);
    background-color:k rgba(255, 255, 255, 0.671);
  }
  @keyframes OP_Texto{
    from{transform: translate(0px -70px);
        opacity: 10%;
        font-size: 5px;
    }
    to{
        opacity: 100%; 
    }
  }
  @keyframes CARTA_ANIM{
    from{
        transform: scale(0.5);
    }
  }
  .redes-sociales img {
    display: flex;
    flex-direction: right;
    
    width: 30px;
    height: 30px;
    margin: 15px;

}

footer div .redes{
    display: flex;
    flex-direction: row;
    float: right;
    padding: 15px;
    translate: 80px;

}
footer .logo{
    display: grid;
    translate: 850px -190px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
footer .logo img{
    background-color: #31231e;
    padding: auto;
    border-radius: 50%;
    background-color: blue;
}
footer .pie{
    font-family: "Josefin Sans", sans-serif;
    font-size: 19px;
    text-align: center;
    background-color: #c9d2d0;
    color: #31231e;
    display:flex;
    flex-direction: column;
}

@media screen and (max-width: 720px){
    body{
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    .carta-noticias{
        width: fit-content;
        display: flex;
        flex-direction: column;
        float: inline-start;
        padding: 15px;
        margin: 15px;
    
     }
    
     .carta-noticias .carta{
        display: grid;
        padding: 15px;
        border-radius: 10px; 
     }
     .carta-noticias table td{
        display: grid;
        grid-template-columns: auto;
        margin-top: 40px;
     }
    .logo{
        width: 64px;
        height: 64px;
        border-radius: 80%;
        float: inline-start;
        display:inline;
    }
    .Logo a{
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 35px;
        color: rgb(0, 0, 0);
        float: left;
        padding: 16px;
        border: none;
        outline: none;
    }
    .Logo{
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 4%, rgba(255,255,255,1) 100%);
    }
    
    .seccion{
        float: left;
        translate: 0px -70px;
        
    }
    
    .seccion a{
        display:flex;
        float: inline-end;
        font-family: "Jacquard 24", system-ui;
        font-size: 36px;
        color: black;
        padding: 16px 10px;
        margin-right: 15px;  
        border-radius: 30% 30% 30% 30%; 
    }
    
    .cabeza header{
       
        font-family: "Jacquard 24", system-ui;
        font-size: 35px;
        color: rgb(255, 0, 0);
        translate: 50px 30px;
        background-color: rgba(137, 43, 226, 0);/*color para saber posicion*/
        margin: auto;
        text-decoration: underline;
    }
    
    .vivo{
        float: left;
        translate: 270px -10px;
        background-color: rgba(0, 0, 255, 0);/*color para saber posicion*/
        margin: auto;
    }
    footer .logo{
        display: grid;
        translate: 240px -190px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 25px;
    }
    footer div .redes{
        display: grid;
        flex-direction: row;
        float: right;
        padding: 15px;
        translate: 30px 180px;
    
    }
}